/*
// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;
*/
.container {
  width: 940px;
}

body {
  font-family: "Source Sans Pro"
}
header{
  background-color: black;
  padding-left: 10px;
}
h1{
  color: yellow;
}
nav {
  padding-top: 30px;
  text-align: right;
}
hr {
  width:100%;
  height: 3px;
  background-color: yellow;
}
hr, #tagline{
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
  padding-right: 10px;
}
h1, .tagline, h2 {
  font-family: "Merriweather", serif;
}
h3, button, nav {
  font-family: "Oswald";
}
/*.tagline{
  background-color: #C6C6C6;
  text-align: center;*/
}
.taste{
  text-decoration: line-through;
}
.text-image{
  background-image: url('../img/coworking.jpg');
  height: 300px;
  display: inline-block;
}

#text-box{
  display: inline-block;
  width: 25%;
  height: 50%;
  margin-right: 10px;
}
button{
  background: #C6C6C6;
  width: 188px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
}
section.grid{
  background-color: #ededed;
}

.border{
  border-right: 1px solid gray;
  padding-bottom: 5px: 
}
div.footer{
  background-color: black;
  color: white;
}